# Cache do Language Server e IDEs
.cache/
.vscode/
.idea/

# Arquivos de visualização (Graphviz)
graphs/*.dot

# Binários e executáveis
build/
backup/
docs/
results/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
