# Cache do Language Server e IDEs
.cache/
.vscode/
.idea/

# Arquivos de visualização (Graphviz)
graphs/*.dot
results/*.dot

# Binários e executáveis
build/
backup/
doc/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db
